*{
   padding: 0;
   margin: 0;
}

ul {
    list-style-type: none;
    margin: 130px;
    padding-top: 5px;
    overflow: hidden;
  }

  .container{
   width: 1200px;
   margin: auto;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: grey ;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
 button{
    background-color: #32cd71;
    color: white;
    border: none;
 }

 .navbar button{
    border-radius: 20px;
    width:170px;
    height: 50px;
 }

 .navbar{
    background-color: whitesmoke;
 }

 .grid-container{
    display: grid;
    grid-template-columns: 600px 200px;
    height: 500px;
 }

 .info{
    margin-top: 120px;
    margin-left: 70px;
 }

 .Title{
    font-family: Georgia, 'Times New Roman', Times, serif;  
 }

 .Inline-text{
    color: gray;
    opacity: 0.9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
   
 }

 .next-image{
   z-index: -1;
 }

 .why-choose{
   background-color: #f4f5f7;
   z-index: 10;
 }

 .next-generation .info button{
    border-radius: 20px;
    width: 170px;
    height: 50px;
 }

 .grid-container2{
   margin-left:70px;
   margin-bottom: 60px;
   display: grid;
    grid-template-rows: 1fr 2fr;
 }

.why-choose .grid-container-2 .heading{
   float: left;
}
.why-choose .heading h2{
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-bottom: 50px;
   margin-left: 30px;
}
.why-choose .heading p{
   font-weight: normal;
   opacity: 0.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
   color: gray;
}

.why-choose .box img{
   padding: 24px 0;
}

.why-choose .box h5{
   font-weight: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.why-choose .box p{
   font-weight: normal;
   opacity: 0.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
   color: gray;
}

.internal-grid-container1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.articles{
   margin-left: 70px;
   margin-bottom: 60px;
}

.articles .grid-container3{
   display : grid;
   grid-template-rows: 0.5fr 2fr;
}

.internal-grid-container2{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.articles .heading h2{
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-bottom: 50px;
   margin-left: 30px;
}

.articles img{
   height: 200px;
   width: 276px;
   border-radius: 5px;
   padding-right: 5px;
}

.articles h6{
   font-weight: normal;
   opacity: 0.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
   color: gray;
   text-align: left;
   padding-top: 30px;
}

.articles h5{
 font-weight: normal;
}


.footer{
   background-color: #2d314e;
   padding-top: 40px;
   padding-bottom: 40px;
}

.grid-container4{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.footer .social{
   padding-left: 70px;
}
.bank-logo img{
   filter: brightness(100%) invert(1);
}

.footer .social ul{
   display: inline-flex;
}

.footer .social li{
   padding-right: 5px;
}

.links{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.links li{
   color: white;
}

.footer .copyright button{
   border-radius: 10px;
   width: 170px;
   height: 50px;
}


